@charset "UTF-8"
*{
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

nav{
	font-family: 'Open Sans bold', Sans-serif;
	margin: 20px 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
	text-align: center;
	background-color: #313030;
}

.menu{
	position: relative;
	color: #e0e0e0;
	text-decoration: none;
	padding: 25px 25px;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
}

nav a:hover,
section#n1:hover~nav a[href="#n1"],
section#n2:hover~nav a[href="#n2"],
section#n3:hover~nav a[href="#n3"],
section#n4:hover~nav a[href="#n4"]
{
	background-color: #cf4d4f;
}
nav a:active{
	background-color: #fd9595;
}

/*Подвал*/
#footer {
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 20px 0; /* Поля вокруг текста */
    background: #313030; /* Цвет фона */
    color: #b8b8b8; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    font-size: 16px;
    font-family: 'Open Sans Regular', Sans-serif;
}
.textpodvala {
	padding-left: 10px; 
}

/*Мини лотипы около текста в шапке*/
.Minilogo__telephon{
	float: left;
	padding-top: 2.5px;	
}
.Minilogo__korzina{
	float: right;
}
.logo{
	height: 100px;
	width: 100px;
	float: left;
	margin: -15px 170px;
	padding-bottom: 10px;
}
/*Secrion*/

section {
	position: relative;
	width: 100%;
	height: 570px;
	display: flex;
}

.sec1 {
	background-color: #f8f8f8;
}
.sec2 {
	background-color: #ffffff;
}


.section{
	display: flex;
}

/*Block*/
.container{

	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/*info*/

.who{
	margin-top: 100px;
	font-family: Myriad Pro Regular;
	font-size: 40px;
	text-align: left;
	line-height: 22px;
	text-transform: uppercase;
}
.we{
	font-family: 'Open Sans bold', Sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-align: left;
	opacity: 0.5;
	width: 480px;
	height: 100px;
	line-height: 25px;
}

/*Slider*/
.slider {
	width: 548px;
	height: 353px;
	overflow: hidden;
	border: 3px solid #000000;
}
.middel {
	position: absolute;
	top: 70px;
	left: 50%;
}
.navig{
	position: absolute;
	bottom: 117px;
	left: 67.5%;
	transform: translateX(-50%);
	display: flex;
}
.bar{
	height: 15px;
	width: 15px;
	margin-right: 30px;
	margin-left: 30px;
	cursor: pointer;
	background-color: #cf4d4f;
	opacity: 0.5;
	border-radius: 10px;
	transition: all .4s ease;
}

.bar:hover{
	opacity: 0.8;
	transform: scale(1.1);
}
input[name="r"]{
	position: absolute;
	visibility: hidden;
}

.slides{
	width: 400%;
	height: 100%;
	display:flex;
}

.sl{
	width: 25%;
	transition: all .6s ease;
}
.sl img{
	width: 100%;
	height: 100%;
}

#r1:checked ~ .s1{
	margin-left: 0%;
}

#r2:checked ~ .s1{
	margin-left: -25%;
}

#r3:checked ~ .s1{
	margin-left: -50%;
}

#r4:checked ~ .s1{
	margin-left: -75%;
}

#f1:checked ~ .s1{
	margin-left: 0%;
}

#f2:checked ~ .s1{
	margin-left: -25%;
}

/*Кнопка вверх*/
.button_up {
position:fixed;
bottom:20px;
right:30px;
}

.button_up img{
	width: 30px;
	height: 30px;
	opacity: 0.9;
}

.button_up img:active{
	opacity: 0.3;
}

.ohw{
	font-family: Myriad Pro Regular;
	font-size: 25px;
	text-transform: uppercase;
	position: relative;
	left: 190px;
}

.ew{
	font-family: 'Open Sans bold', Sans-serif;
	font-weight: 700;
	position: relative;
	font-size: 20px;
	left: 190px;
	opacity: 0.5;
	width: 480px;
	height: 100px;
	line-height: 25px;
}

.uniq{
	font-family: 'Open Sans bold', Sans-serif;
	font-weight: 700;
	font-size: 23px;
	position: relative;
	width: 280px;
	height: 100px;
	line-height: 25px;
	left: 230px;
	color: #3c3c3c;
	top: 30px;
	margin: 10px 20px;
}

.sushi img{
    width: 100px;
    height: 80px;
    left: 250px;
    position: relative;
    top: 30px;
}

#djip{
	width: 115px;
}

.restor{
	font-family: Myriad Pro Regular;
	font-size: 55px;
	text-transform: uppercase;
	position: relative;
	left: 75%;
	padding: 30px 0px;
}

.sl2{
	font-family: 'Open Sans bold', Sans-serif;
	font-weight: 700;
	position: relative;
	font-size: 35px;
	left: 380px;
	width: 310px;
	height: 80px;
	line-height: 45px;
	cursor: pointer;
	background-color: #cf4d4f;
	border-radius: 10px;
	color: #040404;
}

.sl2:active{
	opacity: 0.8;
}

.sl2:active~.s1{
	margin-left: 0%;
}

.sl3:active{
	opacity: 0.8;
}

.sl3:active~.s1{
	margin-left: -25%;
}


#t1{
	left: 13px;
	padding: 17px;
	position: relative;
}

#t2{
	padding: 17px;
	position: relative;
}

.sl3{
	font-family: 'Open Sans bold', Sans-serif;
	font-weight: 700;
	left: 890px;
	position: relative;
	bottom: 80px;
	font-size: 35px;
	width: 310px;
	height: 80px;
	line-height: 45px;
	cursor: pointer;
	background-color: #cf4d4f;
	border-radius: 10px;
	color: #040404;
}

.r{
	position: relative;
	left: 66%;
	bottom: 40px;
	width: 674px;
	height: 365px;
	overflow: hidden;
	border: 3px solid #000000;
}

.r img{
	position: relative;
}

#n3{
	height: 770px
}

#n4{
	height: 350px;
	background: white;
}

.otz{
	font-family: Myriad Pro Regular;
	font-size: 55px;
	position: relative;
	padding: 20px 90px;
	width: 100%;
	height: 140px;
}

.opis{
	font-family: Myriad Pro Regular;
	font-size: 20px;
	position: relative;
	width: 500px;
	padding: 20px 0px;
	color: #737373;
}

.mail1{
	height: 36px;
	position: relative;
	right: 494px;
	top: 100px;
	background: #e5e5e5;
	border-radius: 5px;
	border: 1px;
}

.name1{
	height: 36px;
	position: relative;
	right: 520px;
	top: 100px;
	background: #e5e5e5;
	border-radius: 5px;
	border: 1px;
	width: 163px;
}

.mail2{
	height: 30px;
	position: relative;
	right: 454px;
	top: 69px;
	z-index: 30;
	color: #676767;
}

.name2{
	height: 30px;
	position: relative;
	right: 481px;
	top: 69px;
	z-index: 30;
	color: #676767;
}

.massage1{
    height: 76px;
	position: relative;
	right: 454px;
	top: 163px;
	background: #e5e5e5;
	border-radius: 5px;
	border: 1px;
	width: 350px;
}

.massage2{
    height: 30px;
	position: relative;
	right: 877px;
	top: 173px;
	z-index: 30;
	color: #676767;
}

.otpr{
    position: absolute;
    right: 360px;
    top: 140px;
    height: 60px;
    width: 200px;
    background: #ff2d2d;
    border-radius: 5px;
    border: 1px;
    font-size: 20px;
    font-family: 'Open Sans bold', Sans-serif;
    color: white;
}

*{
	scroll-behavior: smooth;
}
